{% set last_group = entity.questionGroup.survey.questionGroups|length - 1 %}
{% set last_question = entity.questionGroup.questions|length - 1 %}
{% set last = (entity.questionGroup.order == last_group) and (entity.order == last_question) %}
<div class="fanferret-question-done {% if last %}fanferret-question-last{% else %}fanferret-question-next{% endif %}">
	<a href="javascript:void(0);" class="btn btn-primary btn-md {% if last %}finish-button{% endif %}">
		{% if last %}
		Finish
		{% else %}
		Next
		{% endif %}
	</a>
</div>