<section class="fanferret-open fanferret-question {% if testimonial %}fanferret-testimonial{% endif %}" id="{{name|escape('html_attr')}}">
	<h3 class="fanferret-question-title">{{title}}</h3>
	<div class="fanferret-question-input">
		<textarea></textarea>
	</div>
	{% if testimonial %}
	<div class="fanferret-question-testimonial">
		<input type="checkbox">
	</div>
	{% endif %}
	{% include 'FanFerretQuestionBundle:Question:next.html.twig' with {'entity': entity} %}
</section>
<script type="text/javascript">
	fanFerret.addQuestion('survey/question/open',{{name|json_encode()|raw}});
</script>