<section class="fanferret-open fanferret-question {% if testimonial %}fanferret-testimonial{% endif %}" id="{{name|escape('html_attr')}}">
	<div class="fanferret-question-title row">
		<div class="col-md-12">{{title}}</div>
	</div>
	<div class="fanferret-question-input row">
		<div class="col-md-12">
			<textarea class="form-control"></textarea>
		</div>
	</div>
	{% if testimonial %}
	<div class="fanferret-question-testimonial">
		<input type="checkbox" CHECKED class="form-check"> Use as Testimonial
	</div>
	{% endif %}
</section>
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'open'} %}