<div class="fanferret-open fanferret-question {% if testimonial %}fanferret-testimonial{% endif %}" id="{{name|escape('html_attr')}}">
	<h3 class="fanferret-question-title">{{title}}</h3>
	<div class="fanferret-question-input">
		<textarea></textarea>
	</div>
	{% if testimonial %}
	<div class="fanferret-question-testimonial">
		<input type="checkbox">
	</div>
	{% endif %}
</div>
<script type="text/javascript">
	require(['question/open'],function (o) {
		var q = new o({{name|json_encode()|raw}},document);
	});
</script>