<section class="fanferret-open fanferret-question {% if testimonial %}fanferret-testimonial{% endif %}" id="{{name|escape('html_attr')}}">
	<div class="fanferret-question-title row">
		<div class="col-md-12">{{title}}</div>
	</div>
	<div class="fanferret-question-input row">
		<div class="col-md-12">
			<textarea class="form-control"></textarea>
		</div>
	</div>
	{% if testimonial %}
	<div class="fanferret-question-testimonial" style="margin-top: 12px;">
		<input type="checkbox" CHECKED class="checbox form-check" style="margin-top: 12px;"> Use as Testimonial
		<span style="display: none; margin-left: 15px;" class="testimonial-options-container">
			<input style="display:inline; width: auto;" type="text" class="form-control form-testimonial-name" placeholder="Name" />
			<input style="display:inline; width: auto;"  type="text" class="form-testimonial-region form-control " placeholder="Region"/>			
		</span>

	</div>
	{% endif %}
</section>
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'open'} %}