<section class="fanferret-open fanferret-question {% if testimonial %}fanferret-testimonial{% endif %}" id="{{name|escape('html_attr')}}">
	<div class="fanferret-question-title">{{title}}</div>
	<div class="fanferret-question-input">
		<textarea class="form-control"></textarea>
	</div>
	{% if testimonial %}
	<div class="fanferret-question-testimonial">
		<input type="checkbox" class="form-check">
	</div>
	{% endif %}
</section>
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'open'} %}