<section class="fanferret-polar fanferret-question" id="{{name|escape('html_attr')}}">
	<h3 class="fanferret-question-title">{{title}}</h3>
	<div class="fanferret-question-input">
		<input type="checkbox">
	</div>
	{% include 'FanFerretQuestionBundle:Question:next.html.twig' with {'entity': entity} %}
</section>
<script type="text/javascript">
	(function () {
		var handle = fanFerret.register();
		require(['survey/question/polar'],function (polar) {
			handle(function () {
				var g = fanFerret.currentGroup();
				var q = new polar({{name|json_encode()|raw}},g,document);
				g.addQuestion(q);
			});
		});
	})();
</script>