<section class="fanferret-polar fanferret-question" id="{{name|escape('html_attr')}}">
	<h3 class="fanferret-question-title">{{title}}</h3>
	<div class="fanferret-question-input">
		<input type="checkbox">
	</div>
	{% include 'FanFerretQuestionBundle:Question:next.html.twig' with {'entity': entity} %}
</section>
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'polar'} %}