{% set show_explanations = true %}
{% set parent = entity.questionGroup %}
{% if not parent %}
{% set parent = entity.question %}
{% endif %}
{% if entity.order != 0 %}
{% set show_explanations = parent.questions[entity.order - 1].type != 'rating' %}
{% endif %}
{% if show_explanations %}
<div class="hidden-md hidden-lg fanferret-rating-explanations">
	<div class="fanferret-rating-explanation">5 = <span class="fa fa-smile-o"></span> Excellent</div>
	<div class="fanferret-rating-explanation">3 = <span class="fa fa-meh-o"></span> Average</div>
	<div class="fanferret-rating-explanation">1 = <span class="fa fa-frown-o"></span> Poor</div>
</div>
<div class="row hidden-xs hidden-sm">
	<div class="col-md-7"></div>
	<div class="col-md-5 fanferret-rating-explanations">
		<div class="fanferret-rating-explanation"><span class="fa fa-smile-o"></span> Excellent</div>
		<div class="fanferret-rating-explanation"><span class="fa fa-meh-o"></span> Average</div>
		<div class="fanferret-rating-explanation"><span class="fa fa-frown-o"></span> Poor</div>
	</div>
</div>
{% endif %}
<section id="{{name|escape('html_attr')}}" class="fanferret-question fanferret-rating {% if explain %}fanferret-rating-explain{% endif %}">
	<div class="row">
		<div class="fanferret-question-title col-md-7">{{title}}</div>
		<div class="fanferret-question-input col-md-5">
			<ul class="fanferret-rating-ratings">
				{% for i in 1..5 %}
				<li class="fanferret-rating-rating">
					<a href="javascript:void(0);" data-value="{{6-i|escape('html_attr')}}">{{6-i}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if explain %}
	<div class="fanferret-rating-explain-input row" style="display:none;">
		<div class="col-md-7">{{prompt}} <textarea class="form-control"></textarea></div>
	</div>
	{% endif %}
</section>
{% if explain %}
{% set threshold = explain.threshold %}
{% set condition = explain.condition %}
{% else %}
{% set threshold = null %}
{% set condition = null %}
{% endif %}
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'rating', 'arguments': [threshold, condition]} %}