@import 'mixins.less';
@charset "UTF-8";
@button-background: #ccc;
@button-background-hover: #ddd;

body {	
	position: relative;
	.fanferret-survey-buttons {		
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		.container {
			padding-left: 0;
			padding-right:0;
			
		}
		.inner-container {			
			padding: 12px 12px 12px;
			.box-shadow(0px -5px 16px rgba(0, 0, 0, 0.15));
		}
	}		
	@media screen and (min-width: @screen-sm-max){
		.fanferret-survey-buttons {	
			.container {
				padding-left: 15px;
				padding-right: 15px;
				background-color: transparent;
			}
			.inner-container {
				.box-shadow(none);
				padding: 24px 30px 12px;
				.background(url('/bundles/fanferretquestion/images/shadow-footer-navigation.png'),#fff, 0 0px,100% auto,no-repeat, scroll );
			}
		}
	}
}
.container {
	background: #fff;
}
.content-wrapper {
	padding: 15px;
	position: relative;
	margin-bottom: 75px;
  img {
    display: block;
		max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  } 

  @media screen and (min-width: @screen-sm-max){
		padding: 30px;
		min-height: 800px;
		.fanferret-survey-buttons {
			left: -7px;
		}
	}
}
	





h1 {
	text-align: center;
	font-size: 48px;
	text-transform: uppercase;
}


.fanferret-title > * {
	text-align: left;
}

.fanferret-checklist-options, 
.fanferret-rating-ratings, 
.fanferret-polar-options, 
.fanferret-conditional-nested-options {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	
}

.fanferret-rating-ratings,.fanferret-polar-options {
	
	@media screen and (min-width: @screen-md-max){
		float: right;
	}
	
}

.fanferret-checklist-option > .fanferret-checklist-option-other-text {
	display: block;
	margin-left: -20px;
	margin-top: 5px;
}

.fanferret-rating-explanations {
	font-size: 11px;
	overflow: hidden;
  
}

.fanferret-rating-explanation {
	/*
	margin: 1em 0;
	float: left;
	width: 33%;
	*/
	margin: 0.5em 0 0.5em;
	font-size: 12px;
  .fa {
    font-size: 14px;
		
  }
	text-align: center;
	.explanation-label {
		visibility: hidden;
		display: none;
	}
	@media screen and (min-width: @screen-xs-max){
		.explanation-label {
			visibility:visible;
			display: inline;
		}
	}
}




.fanferret-rating-rating, 
.fanferret-polar-option, 
.fanferret-conditional-nested-option {
	box-sizing: border-box;
	float: left;
	max-width: 45px;
	width: 20%;
  > a {
    border-radius: 20px;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 40px;     
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;      
  }
}

#survey-carousel {
  .carousel {
    .carousel-inner > .carousel-item {
      min-height: 300px;
    }
  } 
  .carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    position: static;
    width: auto; 
  }  
}

.fanferret-rating-ratings, .fanferret-polar-options, .fanferret-conditional-nested-options {
	overflow: hidden;
}

.fanferret-question-title {
	margin-bottom: 0;
	margin-top: 0;
}

section {
	margin-top: 10px;
  &:first-child {
	  margin-top: 0;
  }
}

.fanferret-rating-explain-input > textarea, .fanferret-polar-explain-input > textarea {
	display: block;
}


button[disabled], .fanferret-survey-buttons button[disabled]:hover,
#survey-carousel > ol.carousel-indicators > li.fanferret-disabled {
	background: #CCC;
	border-color: #CCC;
	cursor: default;
}

textarea {
	max-width: 100%;
}


.fanferret-spinner {
	background: white;
	bottom: 0;
	height: 100%;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	width: 100vw;
   > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.fanferret-checklist-option-other-text > div {
	padding: 0;
}


.carousel-fade {
	.carousel-inner {
		.item {
			transition-property: opacity;
			-webkit-transition-property: opacity;		
		}
		.item,
		.active.left,
		.active.right {
			.opacity(0);
			.transition(0.5s);
		}		
		.active,
		.next.left,
		.prev.right {
			.opacity(1);
			.transition(0.75s);
		}

		.next,
		.prev,
		.active.left,
		.active.right {
			left: 0;
			transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
		}
	}
	.carousel-control {
			z-index: 2;
	}
}


