{% extends 'FanFerretQuestionBundle:Admin:base.html.twig' %}

{% block content %}
{% if session %}
<div>
	Created session with token {{session.token}}.
</div>
{% endif %}
{{form(form)}}
{% endblock %}