<script type="text/javascript">
	(function () {
		var handle = fanFerret.register();
		require(['survey/group'],function (group) {
			handle(function () {
				var g = new group({{group.id|json_encode()|raw}},fanFerret,document);
				fanFerret.addGroup(g);
			});
		});
	})();
</script>
<section id="{{group.id|escape('html_attr')}}" class="fanferret-group">
	<h2 class="fanferret-group-title">Group {{group.id}}</h2>
	{% for question in questions %}
	{{question.render()|raw}}
	{% endfor %}
	{% set last_group = group.survey.questionGroups[group.survey.questionGroups|length - 1] %}
	{% set last = group.id == last_group.id %}
	<div class="fanferret-group-done {% if last %}fanferret-question-last{% else %}fanferret-question-next{% endif %}">
		<button class="btn btn-primary btn-md {% if last %}finish-button{% endif %}">
			{% if last %}
			Finish
			{% else %}
			Next
			{% endif %}
		</button>
	</div>
</section>