<script type="text/javascript">
	(function () {
		var handle = fanFerret.register();
		require(['survey/group'],function (group) {
			handle(function () {
				var g = new group({{group.id|json_encode()|raw}},fanFerret,document);
				fanFerret.addGroup(g);
			});
		});
	})();
</script>
<section id="{{group.id|escape('html_attr')}}" class="fanferret-group">
	<h2 class="fanferret-group-title">{{title}}</h2>
	{% for question in questions %}
	{{question.render()|raw}}
	{% endfor %}
</section>