<!doctype html>
<html>
	<head></head>
	<body>
		{{form_start(form)}}
		{{form_end(form)}}
		{% for group in groups %}
		<h1>Group {{group.group.id}}</h1>
		{% for question in group.questions %}
		{{question.render()|raw}}
		{% endfor %}
		{% endfor %}
	</body>
</html>