<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bundles/fanferretquestion/css/bootstrap.min.css">
		<script type="text/javascript" src="/bundles/fanferretquestion/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/require.js" data-main="/bundles/fanferretquestion/js/app.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/survey/survey.js"></script>
	</head>
	<body>
		{{form_start(form)}}
		{{form_end(form)}}
		<div id="survey_carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
			<div class="carousel-inner" role="listbox">
				{% for group in groups %}
				<div class="carousel-item item {% if loop.index0 == 0 %}active{% endif %}">
					{{group.render()|raw}}
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>