<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/require.js" data-main="/bundles/fanferretquestion/js/app.js"></script>
	</head>
	<body>
		{{form_start(form)}}
		{{form_end(form)}}
		{% for group in groups %}
		{{group.render()|raw}}
		{% endfor %}
		<input type="button" onclick="document.getElementsByTagName('form')[0].submit();" value="Submit">
	</body>
</html>