<!doctype html>
<html>
	<head></head>
	<body>
		<h1>Survey Notification</h1>
		<a href="{{url('fanferret_admin_card_results',{'token':session.token})}}">View results of survey.</a>		
	
	</body>
</html>