<!doctype html>
<html>
	<head></head>
	<body>
        <h1>Notification 2</h1>
		<a href="{{url('fanferret_survey',{'token':session.token})}}">A survey has been generated for you.</a>
		<img src="{{url('fanferret_notification_seen',{'token':notification.token})}}">

	</body>
</html>