@charset "UTF-8";

body {
	background: #FF8410;
	color: white;
	font-size: 16px;
}

input, button, textarea, select {
	color: black;
}

.fanferret-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media (max-width: 767px) {
	.fanferret-logo {
		width: 65%;
	}
}

@media (max-width: 480px) {
	.fanferret-logo {
		width: 80%;
	}
}

.fanferret-admin-nav {
	margin-bottom: 10px;
	margin-top: 10px;
}

a.btn.btn-primary, button[type="submit"], a.btn.btn-primary:hover, a.btn.btn-primary:active, a.btn.btn-primary:focus {
	background: linear-gradient(0deg, #CDCDCD, #FEFEFE);
	border: 1px #666666 solid;
	color: black;
	height: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-transform: uppercase;
	width: 100%;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table td, table th, .table > thead:first-child > tr:first-child > th {
	border: 1px white solid;
	padding: 7px;
}

/*	Necessary to override Bootstrap styles */
.table > thead > tr > th {
	border-bottom: 1px white solid;
	vertical-align: middle;
}

table th {
	font-size: 16px;
	text-align: center;
}

table tbody tr:nth-child(odd) {
	background: #FFB570;
}

.fanferret-result-count, .fanferret-pagination {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.fanferret-pagination > a {
	color: inherit;
	text-decoration: none;
}

h1 {
	text-align: center;
}

.fanferret-delivery-scheduled {
	font-weight: bold;
	margin-bottom: 20px;
}

.fanferret-delivery-scheduled a {
	color: inherit;
	text-decoration: none;
}

form, .fanferret-delivery-scheduled {
	background: #FFB570;
	padding: 20px;
	text-align: center;
}

form > .row {
	margin-top: 10px;
}

form > .row:first-child {
	margin-top: 0;
}

form label {
	padding-top: 5px;
	text-align: right;
}

form label:after {
	content: ":";
}