@charset "UTF-8";

body {
	background: #D3EBF7;
}

.container {
	background: white;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.container > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #D50544;
	font-size: 48px;
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
}

#survey_carousel .carousel > .carousel-inner > .carousel-item {
	min-height: 300px;
}

.fanferret-checklist-options, .fanferret-rating-ratings {
	list-style-type: none;
	padding-left: 0;
}

.fanferret-checklist-option > div {
	display: inline-block;
}

.fanferret-rating-explanations {
	overflow: hidden;
}

.fanferret-rating-explanation {
	float: left;
	width: 33%;
}

.fanferret-rating-explanation:nth-child(2) {
	text-align: center;
}

.fanferret-rating-explanation:nth-child(3) {
	text-align: right;
}

.fanferret-rating-rating {
	box-sizing: border-box;
	float: left;
	width: 20%;
}

.fanferret-rating-rating > a {
	background: #337AB7;
	border: 0px black solid;
	border-radius: 15px;
	color: white;
	display: block;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	width: 30px;
}

.fanferret-rating-rating > a:hover {
	background: #286090;
}

.fanferret-rating-rating > a:active, .fanferret-rating-rating > a.selected {
	background: #275F8F;
}

.fanferret-rating-ratings {
	overflow: hidden;
}

.fanferret-question-title {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

section {
	margin-bottom: 10px;
}

.fanferret-rating-explain-input > textarea, .fanferret-polar-explain-input > textarea {
	display: block;
}

button[disabled], .fanferret-survey-buttons button[disabled]:hover {
	background: #CCC;
	border-color: #CCC;
	cursor: default;
}

textarea {
	max-width: 100%;
}

#survey-carousel > .carousel-indicators {
	margin-left: 0;
	margin-right: 0;
	position: static;
	width: auto;
}

#survey-carousel > .carousel-indicators > li {
	border-color: black;
}

#survey-carousel > .carousel-indicators > li.active {
	background-color: black;
}