@charset "UTF-8";

body {
	background: #0079D7;
}

.container {
	background: white;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.container > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	text-align: center;
}

#survey_carousel .carousel > .carousel-inner > .carousel-item {
	min-height: 300px;
}

.fanferret-checklist-options, .fanferret-rating-ratings {
	list-style-type: none;
	padding-left: 0;
}

.fanferret-checklist-option > div, .fanferret-rating-rating > div {
	display: inline-block;
}

.fanferret-rating-rating {
	display: inline-block;
}

.fanferret-question-title {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

section {
	margin-bottom: 10px;
}