<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bundles/fanferretquestion/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bundles/fanferretquestion/css/survey.css">
	</head>
	<body>
		Thank-you!
	</body>
</html>